<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709985113409-5sctnognc1gchsiiga52qjoieauo0s16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709985113409-5sctnognc1gchsiiga52qjoieauo0s16</string>
	<key>API_KEY</key>
	<string>AIzaSyD78IdmF1nxVv3CCm5Fwz8_LDbReViXrZY</string>
	<key>GCM_SENDER_ID</key>
	<string>709985113409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportifyapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sportify2-225a5</string>
	<key>STORAGE_BUCKET</key>
	<string>sportify2-225a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709985113409:ios:a6dc01b624e12eddf1fdc0</string>
</dict>
</plist>